:root {
  --c-bg: #fff;
}

html {
  background-color: var(--c-bg);
  transition: background-color 0.5s ease-in-out;

  &.dark {
    --c-bg: #000;
  }
}

body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 1.8rem;
  line-height: 1.3;
}

h2 {
  font-size: 1.4rem;
  line-height: 1.2;
}

h3 {
  font-size: 1.2rem;
}

h4,
h5,
h6 {
  font-size: 1.2rem;
}

#app {
  width: 100%;
  min-width: 350px;

  overflow-x: hidden;
}
