:root {
  --c-bg: #fff;
  --c-bg-nprogress: #4ade80;
}

* {
  transition: background-color 0.4s ease-in-out;
}

html {
  background-color: var(--c-bg);

  &.dark {
    --c-bg: #000;
    // --c-bg-nprogress: #fff;
  }
}

body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 1.8rem;
  line-height: 1.3;
}

h2 {
  font-size: 1.4rem;
  line-height: 1.2;
}

h3 {
  font-size: 1.2rem;
}

h4,
h5,
h6 {
  font-size: 1.2rem;
}

pre,
code {
  font-family: "JetBrains Mono", monospace;
}

#app {
  width: 100%;
  min-width: 350px;

  overflow-x: hidden;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
::view-transition-old(root) {
  z-index: 1;
}
::view-transition-new(root) {
  z-index: 9999;
}

html.dark {
  &::view-transition-old(root) {
    z-index: 9999;
  }

  &::view-transition-new(root) {
    z-index: 1;
  }
}

#nprogress {
  pointer-events: none;

  .bar {
    background-color: var(--c-bg-nprogress);
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
  }
}
