:root {
  --c-bg: #fff;
}

html {
  background-color: var(--c-bg);
  transition: all 0.2s ease-in-out;

  &.dark {
    --c-bg: #000;
  }
}

body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

#root {
  width: 100vw;
  min-width: 300px;
}
