.markdown-body {
  h1 {
    height: 3rem;
    line-height: 3rem;
  }

  a {
    text-align: center;
    margin: 0 0.2rem;
    opacity: 0.75;

    &:hover {
      opacity: 1;
    }

    &::before {
      display: inline-block;
      content: '🔗';
      padding: 0 0.2rem;
    }

    &[href^="/posts/"] {
      margin: 0;
      text-decoration: none;

      &::before {
        display: none;
      }
    }
  }

  s {
    opacity: 0.5;
    margin: 0 0.2rem;
  }

  ul {
    padding: 0;
    list-style: none;
  }

  code:not(pre code) {
    margin: 0 0.2rem;
    padding: 0.1em 0.4em;
    font-weight: bold;
    font-size: 0.8em;
    white-space: break-spaces;
    border-radius: 6px;
    box-sizing: border-box;
    background-color: rgba(175, 184, 193, 0.2);
  }

  pre,
  code {
    font-family: "Fira Code", "Fira Mono", ui-monospace, SFMono-Regular, Menlo,
      Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }

  pre {
    overflow-x: scroll;
  }
}
