:root {
  font-family: system-ui, -apple-system, Arial, Helvetica, sans-serif;
  font-size: 14px;
}

html {
  background-color: #fff;

  &.dark {
    background-color: #111;
  }
}

body {
  margin: 0;
}

a {
  color: inherit;
  opacity: 0.8;
  text-decoration: none;

  &:hover {
    opacity: 1;
  }
}

#root {
  width: 100vw;
  min-width: 300px;
}
